.page-header {
    text-align: center;
}

#randomButton {
    padding-left: 10px;
}

div#iframeBox {
    padding: 30px;
}

#iframeBox {
    display: none;
}

.list-group-item {
    margin: 20px;
}

.list-group {
    display: none;
}

#output {
    padding: 20px;
    list-style: none;
}

#output li a {
    color: #0b0080;
}

ul#output {
    border: 1px solid #cedff2;
    background: #f5faff;
}

#articles {
    padding: 25px;
}
